/* Seleciona todos os elementos "p" */
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

/* Seleciona elementos que possuem a classe destaque */
.destaque {
    font-weight: bold;
    color: red;
}

/* Seleciona os elementos que possuem o id "titulo" */
#titulo {
    text-decoration: underline;
    color: pool
}

/* Seleciona elementos que possuem ambas as classes destaque e azul */
.destaque.azul {
    color: blue
}

p.destaque {
    border-left: 5px solid brown;
}

/* Seleciona elementos que possuem ou a classe italic ou a classe italico */
.italic, .italico {
    font-style: italic;
}

h1, p {
    border-right: 2px solid red;
}

/* Seleciona elementos p estejam dentro de elmentos que tenha a classe destaque */
.destaque p {
    text-decoration: underline;
}

div {
    border: 1px solid purple;
}

/* seleciona todos os elementos `p` que são filhos diretos de uma `div` */
div > p {
    background-color: rgba(255, 255, 100, 0.8);
}

/* Seleciona todos os elementos small que tem como parent direto um elemento h1 */
h1 + small {
    color: darkgrey;
    font-weight: bold;
}

[title] {
    border-bottom: 2px dashed lightseagreen;
}

[title="Texto Explicativo"] {
    border-bottom: 2px dashed red;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}